<main>
    <div class="container-fluid">
        <!-- START: Breadcrumbs-->
        <div class="row">
            <div class="col-12  align-self-center">
                <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Dashboard</h4> <b>Welcome to redial admin panel</b></div>

                    <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- END: Breadcrumbs-->
        <!-- START: Card Data-->
        <div class="row">
            <div class="col-12 col-sm-6 col-xl-3 mt-3">
                <div class="card">
                    <div class="card-body">
                        <img src="dist/images/traffic.png" alt="traffic" class="float-right">
                        <h6 class="card-title font-weight-bold">Site Traffic</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Today</h6>
                        <h2>26,476</h2>
                        <span class="text-success"><i class="ion ion-android-arrow-dropup"></i> 15% higher</span> than last day
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3 mt-3">
                <div class="card">
                    <div class="card-body">
                        <img src="dist/images/cart.png" alt="cart" class="float-right">
                        <h6 class="card-title font-weight-bold">New Orders</h6>
                        <h6 class="card-subtitle mb-2 text-muted">This Week</h6>
                        <h2>14,957</h2>
                        <span class="text-danger"><i class="ion ion-android-arrow-dropdown"></i> 4% Down</span> than last week
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3 mt-3">
                <div class="card">
                    <div class="card-body">
                        <img src="dist/images/money.png" alt="money" class="float-right">
                        <h6 class="card-title font-weight-bold">Total Sale</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Last Months</h6>
                        <h2>$38,524</h2>
                        <span class="text-success"><i class="ion ion-android-arrow-dropup"></i> 8% higher</span> than last week
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3 mt-3">
                <div class="card">
                    <div class="card-body">
                        <img src="dist/images/wallet.png" alt="wallet" class="float-right">
                        <h6 class="card-title font-weight-bold">Total Profit</h6>
                        <h6 class="card-subtitle mb-2 text-muted">In February-2019</h6>
                        <h2>$78,245 </h2>
                        <span class="text-success"><i class="ion ion-android-arrow-dropdown"></i> 18% higher</span> than last month
                    </div>
                </div>
            </div>

        </div>
        <!-- END: Card DATA-->
    </div>
</main>